doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add Time 
        link(rel="stylesheet" href="css/navbar.css")
    body 
        .navbar 
            ul 
                li 
                    a(href="/") Home 
                    a(href="/list_time") List Time 
        form(action="add_time" method="post")
            label(for="hour")
            input(type="text" id="hour" name="hour")

            button(type="submit") Add  