doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
        link(rel="stylesheet", href="css/navbar.css")
    body
        .navbar 
            .ul 
                .li 
                    a(href="/list_department") List Department 
                    a(href="/add_department") Add Department 
                    a(href="/list_doctor") List Doctor
                    a(href="/add_doctor") Add Doctor
                    a(href="/list_patient") List Patient 
                    a(href="/add_patient") Add Patient 
                    a(href="/list_time") List Time
                    a(href="/add_time") Add Time  
                    a(href="/list_appointment") List Appointment
                    a(href="/add_appointment") Add Appointment 