doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title List Department 
        link(rel="stylesheet", href="css/navbar.css")
    body 
        .navbar 
            .ul 
                .li 
                    a(href="/") Home Page 

        table
            thead 
                tr 
                    th Department Name
            tbody 
                each department in departments
                    tr 
                        td=department.departmentname
